SUPABASE_URL= your_real_key_here
SUPABASE_ANON_KEY= your_real_key_here
SUPABASE_DB_URL= your_real_key_here
SUPABASE_STORAGE_URL= your_real_key_here
VISION_API_KEY=your_real_key_here

RAILWAY_DB_URL=
RAILWAY_DB_PUBLIC_URL=